# GeoCRON stuff
*ron_output*

# ns-3 and general stuff
build
ns3
testpy-output
*.pyc
*.o
bindings
.waf*
.lock*
last_seed_file
*~

# C++ stuff
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
